h1{
  font-family: cursive;
}

header{
  background-color: lightgrey;
  height: 50px;
  width: 100%;
  text-align: center;

}

nav{
  background-color: white;
  height: 60px;
  width: 100%;
  text-align: center;
  word-spacing: 10px;


}
main{
  background-color: white;
  height:400px;
  width:70%;
}

aside{
  background-color: white;
  height: 200px;
  width: 30%;
}

footer{
  background-color: lightgrey;
  height: 50px;
  width: 100%;
}



#mainwrapper{
  display:flex;
}

#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#boxwrapper{
  height: 50%;
  width: 100%;
  background-color: grey;
  display:flex;
}

#bottomcenter{
  height:50%;
  width:100%;
  background-color: grey;

}
#boxleft{
  height:100%;
  width:50%;
  background-color: red;
}
#boxright{
  height:100%;
  width:50%;
  background-color: black;
}
@@media only screen and (max-width: 600px) {
  #mainwrapper{display flex}

}
.btn{
  cursor: pointer;

}
a{
  text-decoration: none;
}
p{
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.underrubirk{
  font-weight: bold;
  text-decoration:underline;
  font-size: 19px;
}

.btn:hover {
  text-decoration: black;
  color: #000000
  border: 5px;

}
.btn{
  border: none;
  padding: 10px 10px;
  background-color: #C0C0C0
}
