h1{
  background-color: green
}

header{
  background-color: blue;
  height: 100px;
  width: 500px;
}

nav{
  background-color: yellow;
  height: 50px;
  width: 500px;


}
main{
  background-color: red;
  height:200px;
  width:400px;
}

aside{
  background-color: pink;
  height: 200px;
  width: 100px;
}

footer{
  background-color: orange;
  height: 100px;
  width: 500px;
}



#mainwrapper{
  display:flex;
}

#wrapper{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#boxwrapper{
  height: 50%;
  width: 100%;
  background-color: grey;
  display:flex;
}

#bottomcenter{
  height:50%;
  width:100%;
  background-color: grey;

}
#boxleft{
  height:100%;
  width:50%;
  background-color: red;
}
#boxright{
  height:100%;
  width:50%;
  background-color: black;
}
@@media only screen and (max-width: 600px) {
  #mainwrapper{display flex}

}
.btn{
  cursor: pointer;
}
a{
  text-decoration: none;
}
