

#ruta1{
  float: left;
  width: 100px;
  height: 100px;
  background-color: green;

}


#ruta2{

  float: left;
  width: 100px;
  height: 100px;
  background-color: blue;

}


#ruta3{
  clear: left;
  width: 100px;
  height: 100px;
  background-color: yellow;

}
